/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700|League+Script");
$base-font: 'Josefin Sans', "sans-serif";
$header-font: 'Josefin Sans', "sans-serif";
$hand-font:'League Script', cursive;


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FF2D57;

$red: #FF2D57;
$blue: #3FBBC1;
$yellow: #FFAE23;
$orange: #FFE8CE;
$green: #C4CC88;
