.show-wrapper {
  background-size: cover;
  height: 100vh;
  color: white;
  text-shadow: 2px 1px 3px rgba(0,0,0,0.3);
}
.show-wrapper h1 {
  // color: $red;
  font-size: 50px;
}
.show-wrapper strong {
  color: $red;
}
.show-wrapper h4 {
  margin-top: 0px;
}

.btn-nomargeleft {
  margin-left: 0px;
}
.font-light {
  font-weight: lighter;
}
.show-price {
  font-size: 35px;
  color: $brand-color;
}
.show-price strong {
  font-size: 50px;
  font-weight: light;
}
.img-dash {
  height: 60vh;
  width: 30vw;
  border-radius: 30%;
  border: $red 8px solid;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  background: #F00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #F00000, #DC281E);
  background: -o-linear-gradient(right, #F00000, #DC281E);
  background: linear-gradient(to left, #F00000, #DC281E); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

 }
.img-dash:hover {
  border: #800000 8px solid;

}
.img-container {
  display: flex;
  color: #800080;
  font-size: bold;
  justify-content: space-around;
  align-items: center;
}
