
<div class="container">
  <h1>Validate this booking if it looks good </h1>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
      <div class="card-category">Booking</div>
      <div class="card-description">
        <h2>Some stuff</h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
      <img class="card-user avatar" src='logo.jpg'>
      <a class="card-link" href="#" ></a>
    </div>



</div>


