/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
::-webkit-input-placeholder { transition : opacity 0.5s; }
::-moz-placeholder { transition : opacity 0.5s; }
:-ms-input-placeholder { transition : opacity 0.5s; }
// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-light {
  padding-top: 1em;
  padding-bottom: 1em;
}

.zeromargin {
  margin-left: 0px;
  margin-right: 0px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Titles
.thin-title {
  font-weight: lighter;
}
.thin-title span {
  font-family: $hand-font;
}
.base-font {
  font-family: $base-font;
}
.hand-font {
  font-family: $hand-font;
}
.white-title {
  color: white;
}
.red-text {
 color: $red;
 font-weight: bold;
}
.bold {
  font-weight: bold;
  font-size: 22px;
}


//div
// .black-background {
//   background-color: black;
// }
.light-div {
  background-color: rgba(4,4,4,0.5)
}
.invisible   {
  display: none;
  opacity : 0;
}
.invisible::-moz-placeholder {
  display: none;
  opacity : 0;
}
.invisible:-ms-input-placeholder {
  display: none;
  opacity : 0;
}
.invisible::-webkit-input-placeholder {
  display: none;
  opacity : 0;
}

