<div class="container">

  <h1 class="thin-title text-center"> Make your <span>sweet sweet</span> selection <h1>

  <div class="row">
    <% @meals.each do |m| %>
      <div class="col-xs-12 col-md-6">
        <%= render 'card', meal: m %>
      </div>
    <% end %>
  </div>

  <h6 class="text-center" > Can't find a ideal meal ? <br> Send a message to our team@bookchef.com </h6>
</div>

