<div class="container">

  <h1 class="thin-title text-center"> Make your <span>sweet sweet</span> selection <h1>
<!-- formulaire de recherche par food_type -->
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <div class="search-form">
        <%= select_tag :food_type, options_for_select(Meal::FOOD_TYPE.collect{ |u| u }. insert(0, "Select your Food Type")), class: "select-food-type"%>
      </div>
    </div>
  </div>
  <div class="row">
    <% @meals.each do |m| %>
      <%= render 'card', meal: m %>
    <% end %>
  </div>

  <h6 class="text-center" > Can't find a ideal meal ? <br> Send a message to our bookchefwagon@gmail.com </h6>
</div>
