.avatar {
  width: 50px;
  border-radius: 50%;
  border: $red 1px solid;
}

.avatar-large {
  width: 65px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $red 1px solid;
}

.avatar-xl {
  width: 130px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $red 1px solid;
}
