.banner {
  color: white;
  text-align: left;
  height: 100vh;
  padding-left: 30px;
  padding-top: 30px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: left;
  justify-content: left;
}
.banner h1 {
  font-size: 100px;
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.form-banner {
  background-size: cover;
}
.banner-backgroundonly {
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}
