/* Shared */
.loginbtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginbtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginbtn:focus {
  outline: none;
}
.loginbtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.btn-Facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.btn-Facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.btn-Facebook:hover,
.btn-Facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.btn-GoogleOauth2 {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.btn-GoogleOauth2:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.btn-GoogleOauth2:hover,
.btn-GoogleOauth2:focus {
  background: #E74B37;
}
.btn-red {
  height: 50px;
  padding: 10px 10px;
  border-radius: 3px;
  background-color: $red;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  border: 2px solid $red;

}
.btn-red:hover {
  background: #F20036;
  box-shadow: 0px 2px 1px 0px #800000;
  color: white;
  text-decoration: none;
}
.btn-red-search {
  border-radius: 3px;
  background-color: $red;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  border: 1px solid $red;
  height: 50px;
  width: 50px;

}
.btn-red-search:hover {
  background: #F20036;
  box-shadow: 0px 2px 1px 0px #800000;
  color: white;
  text-decoration: none;
}


.btn-transparent {
   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

