.btn-red {
  // margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  line-height: 20px;
  background-color: $red;
  color: white;
  font-size: 24px;
  border: 2px solid $red;
}
.btn-red:hover {
  background: #F20036;
  border-color: #F20036;
  box-shadow:0px 2px 10px 5px #800000;
}
