.card {
  height: 200px;
  text-shadow: 2px 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin:10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  // border-radius:5px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color:white;
  text-decoration:none;
}

.card-details {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  color:white;
  text-decoration:none;
}
.card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color:white;
}
.card-name i {
  font-size: 20px;
  color:white;
}
.card-price {
  position: absolute;
  font-size: 20px;
  color: $brand-color;
  bottom: 10px;
  left: 10px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

.card-price strong {
  font-size: 30px;
  font-weight: light;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;

}
.card-show {
  background-size: cover;
  height: 100vh;
  color: white;
}
.card-show h1 {
  color: $red;
}
.card-show strong {
  color: $red;
}

